{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
	<title>Django</title>
 	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>


<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
	<a href="{% url 'index' %}"  class='navbar-brand'><img src="{% static 'photo/logotype-header.png' %}" alt='logo' width="150", height="55"></a>
	<div class="btn-group">
  		<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  			Фильтр
		 </button>
		  <div class="dropdown-menu">
		    <div class="dropdown open">
		    	{% for cat in cats %}
				    <a href="{% url 'index' cat_id=cat.id %}"><button class="dropdown-item" type="button">{{cat}}</button></a>	
		    	{% endfor %}
			</div>
		  </div>
	</div>
</nav>


{% block main %}
<div class='main'>
	<table class='table table-hover'>
		<thead>
			<th>Код</th>
			<th>Производитель</th>
			<th>Артикул</th>
			<th>Описание</th>
			<th>Цена</th>
		</thead>
		<tbody>
			{% for good in goods %}
				<a href="{% url 'good' good.code %}?page={{goods.number}}">
					<tr>
						<th><a href="{% url 'good' good.code %}?page={{goods.number}}">{{good.code}}</a></th>
						<th>{{good.producer}}</th>
						<th>{{good.articul}}</th>
						<th>{{good.description}}</th>
						<th>{{good.price}}</th>
					</tr>
				</a>		
			{% endfor %}
		</tbody>	
	</table>
{% if goods.paginator.num_pages > 1 %}
	<div id='pagination'>
		{% if goods.has_previous %}
			<div id='previous-page'><a href="{% url 'index' %}?page={{ goods.previous_page_number }}">&lt;</a></div>
		{% endif %}
		{% if goods.has_next %}
			<div id='next-page'><a href="{% url 'index' %}?page={{ goods.next_page_number }}">&gt;</a></div>
		{% endif %}
		<div id='num-pages'>
			{% for pn in goods.paginator.page_range %}
				{% if not forllop.first %}
					&nbsp;&nbsp;|&nbsp;&nbsp;
				{% endif %}
				{% if goods.number != pn %}
					<a href="{% url 'index' %}?page={{ pn }}">
				{% endif %}
				{{ pn }}
				{% if goods.number != pn %}
					</a>
				{% endif %}
			{% endfor %}
		</div>	
	</div>
{% endif %}
</div>

{% endblock %}


<script type="text/javascript">
</script>

</body>
</html>